  
.body {
    font-family: 'Heebo', sans-serif;
}
/*preloader */
.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100000;
  background-color: white;
  top: 0;
  display: flex;
  align-items: center;
}
.loading {
  animation: spin 5s ease;
  transition: all;
  width: 150px;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}


/*header */
  
  .logonav {
    position: relative;
}

  .topnav {
    overflow: hidden;
    background: white;
    text-align: right;
    height: 100px;
    line-height: 100px;
  }
  
  .topnav a {
    display:inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size:120%;
    color: black;
    background: white;
    padding-left:3%;
    padding-right:3%;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;

  }

  .logo {
      float: left;
      margin-bottom: auto;
      margin-left: auto;
  }

  .navitems {
        direction: rtl;  
    }

  .navwork:hover { 
    background: #ADE2DC; 
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
  }
  
  .navabout:hover { 
    background: #F7B9B8; 
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
  }
  
  .navresume:hover { 
    background: #F7D986; 
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
  }
  
.navcontact:hover { 
    background: #F0D4D6; 
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
  }
  
  .navwork a.active {
    background-color: #ADE2DC;
  }

  .navabout a.active {
    background-color: #F7B9B8;
  }
  
  .navresume a.active {
    background-color: #F7D986;
  }

  .navcontact a.active {
    background-color: #F0D4D6;
  }
  
  
  .topnav .icon {
    display: none;
  }

  /*breadcrumbs section */
.breadcrumbstext {
  font-family: 'Heebo', sans-serif;
  font-size: 110%;
  color: grey;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 5%;
}

.breadcrumbstext a {
  font-family: 'Heebo', sans-serif;
  font-size: 110%;
  color: grey;
  margin-top: 2%;
  margin-bottom: 2%;
}

.breadcrumbstext :hover {
  font-weight: 500;
  color: black;
}


/*hero section  */

.heroImg {
    text-align: center;
    margin-bottom: 5%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    font-weight: normal;
    margin-bottom: 5%;
}



/*GALLERY SECTION*/


#gallery {
  margin-top: 7%;
  width: 80%;
  margin-left: 10%;
  line-height:0;
  -webkit-column-count:5; /* split it into 5 columns */
  -webkit-column-gap:5px; /* give it a 5px gap between columns */
  -moz-column-count:5;
  -moz-column-gap:5px;
  column-count:5;
  column-gap:5px;
}
#gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom:5px; 
  filter: grayscale(80%);
  transition: filter 0.5s;
}

#gallery img:hover {
  filter:none;
}

@media (max-width: 1200px) {
  #gallery {
   -moz-column-count:    4;
   -webkit-column-count: 4;
   column-count:         4;
  }
}
@media (max-width: 1000px) {
  #gallery {
   -moz-column-count:    3;
   -webkit-column-count: 3;
   column-count:         3;
  }
}
@media (max-width: 800px) {
  #gallery {
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
  }
  #gallery img {
    filter:none;
  }
}
@media (max-width: 400px) {
  #gallery {
   -moz-column-count:    1;
   -webkit-column-count: 1;
   column-count:         1;
  }
  #gallery img {
    filter:none;
  }
}
/*footer section */

footer {
    background-color: #CEEEEA;
    height:20%;
    margin-top: 5%;
}

.social {
    list-style: none;
    display:inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.footerBlock {
    padding: 2%;
    align-items: center;
}

/*Responsive Design section */
/*Navigation */

@media screen and (max-width: 649px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

  }
  

@media screen and (max-width: 649px) {
.logoimg {
        width:60px;
        position: absolute;
        top: 0;
        left: 0;
        }

    .topnav.responsive {
        position: relative;
        height: 100%;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 3.5%;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: right;
    }
    .icon {
      margin-top: 3.5%;
      }

      .navitem {
        border-bottom: 1px dotted rgb(95, 95, 95);
      }

    .navwork {
        margin-top: 5%;
    }

  }

  /*Breadcrumbs section */
@media only screen and (max-width: 650px) {
  .breadcrumbstext {
    font-size: 70%;
    margin-bottom: 10%;
    padding-left: 5%;
  }
  
  .breadcrumbstext a {
    font-size: 80%;
    margin-bottom: 10%;
  }

  .breadcrumbstext p {
    font-size: 70% !important;
  }
  }
/*Hero section */

@media only screen and (max-width: 600px) {
  .heroImg {
      width:100%;
  }

  .heroPic {
    width:40%;
}

  h1 {
      margin-top: 2%;
      font-size: 180%;
      }

    }
  
/*footer section */
@media only screen and (max-width: 649px) {
    .footerBlock {
        display: inline-flex;
        justify-content: center;
        padding: 3%;
    }
}

